# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Mac OS
.DS_Store

# Virtual Env
env/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# vscode
.vscode/

# Specific
age_gender.csv
