# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Mac OS
.DS_Store

# Virtual Env
env/

# Specific
age_gender.csv

# Jupyter Notebook Checkpoints
.ipynb_checkpoints
